#container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    max-width: 300px;
    justify-content: center;
    padding: 1%;
}

#container img {
    padding: 1%;
    width: 33%;
    border: 1px red solid;
    animation: example 4s infinite alternate;
}

@keyframes example {
    from {border-color: red;}
    to {border-color: blue;}
}